<div class="wrapper">
    <div class="content-wrapper" style="min-height: 880px">
        <section class="content">
            <div class="row">
                <div class="col-md-12 animate-bottom" id="dataGrid" style="display: none">
                    <div class="panel panel-primary">
                        <section class="content-header clearfix">
                            <h1>
                                <b>Error</b> log
                                <i class="fa fa-refresh refresh-grid" (click)="displayData()" title="Click to Refresh"></i>
                            </h1>
                        </section>
                        <div class="panel-body">
                            The Error.Log is a shared log meaning that errors from all
                            website hosted on the server will be displayed,
                            with the informations you are able to use for solving specific problems
                            for example data not found, error server, file not found and etc.
                        </div>
                        <div class="form-group" style="margin-bottom: 5px">
                            <div class="col-md-12" style="margin:10px; margin-left: 0;margin-right: 0; text-align: right">
                                <button class=" btn btn-primary yellow-btn" (click)="downloadError()">
                                    Open Error Log
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="loadingGrid" style="display: none; text-align: center; margin-top: 40px">
                    <div class="login-logo" style="margin-bottom: 30px">
                        <img class="img-logo-1" src="assets/img/rats-logo-new.png">
                    </div>
                    <h2>Gathering data from server...</h2>
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>