.login-background {
    background-color: #212121;
}

.login-page{
    background: #212121 !important;
}

.login-rect{
    position: absolute;
    width: 100%;
    height: 60%;
}

.login-wheel{
    position: absolute;
    width: 23%;
    right: 0;
    bottom: 0;
}
        
.canvas {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.login-box-body{
    border-radius: 5px;
    padding-top: 35px !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
    padding-bottom: 10px !important;
}

.login-box-msg{
    margin-bottom: 10px;
    color: black !important;
}

.btn-success{
    background-color: #f4b810;
    border-color: #f4b810;
}

.btn-success:hover{
    background-color: #ecad00;
    border-color: #ecad00;
}

.btn-success:click{
    background-color: #b38300;
    border-color: #b38300;
}

#forgot{
    cursor: pointer;
}