<div class="canvas login-background">
  <img class="login-rect" src="assets/img/rectangle_2.png">
  <img class="login-wheel" src="assets/img/wheel.png">
</div>

<body class="hold-transition login-page">
  <div class="login-box" style="position: relative;">
    <div class="login-logo">
      <img class="img-logo-1" src="assets/img/rats-logo-new.png">
    </div>
    <div class="login-box-body">
      <p class="login-box-msg">SIGN IN TO YOUR ACCOUNT</p>
      <form (ngSubmit)="login()" novalidate [formGroup]="loginForm">
        <div class="form-horizontal">
          <div class="form-group has-feedback">
            <div class="col-md-12"
              [ngClass]="{ 'has-error': usernameMessage, 'has-success': !usernameMessage && loginForm.get('username').dirty }">
              <input type="text" id="username" class="form-control" formControlName="username" placeholder="Username"
                (keyup.enter)="login()">
              <span class="help-block" *ngIf="usernameMessage">
                <small>
                  {{usernameMessage}}
                </small>
              </span>
            </div>
            <span class="fa fa-user form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <div class="col-md-12"
              [ngClass]="{ 'has-error': passwordMessage, 'has-success': !passwordMessage && loginForm.get('password').dirty }">
              <input type="password" class="form-control" formControlName="password" placeholder="Password"
                (keyup.enter)="login()">
              <span class="help-block" *ngIf="passwordMessage">
                <small>
                  {{passwordMessage}}
                </small>
              </span>
            </div>
            <span class="fa fa-lock form-control-feedback"></span>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12" style="padding-left: 20px; padding-right: 20px; padding-top: 5px">
          <button type="submit" (click)="login()" class="btn btn-success btn-block " [disabled]="loginForm.invalid">
            <span style="color:black">Sign In</span>
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          <a (click)="forgot()" id="forgot">
            <u>Forgot your password?</u>
          </a>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="float-version">
    <i style="margin-right:5px">Version 1.0.0</i>
  </div>
</body>



<forgot-password [id]="'forgot-password'" [forgotPasswordForm]="forgotPasswordForm" [admin]="admin"
  [initAdminData]="initAdminDataCallback"></forgot-password>