<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-md">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="close" data-dismiss="modal">&times;</span> Recipient
            </div>
            <div class="form-horizontal">
                <div style="overflow-x: scroll; margin:5px">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Recipient Name</th>
                                <th>Recipient User Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of notification.recipient">
                                <td>{{r['recipient_name']}}</td>
                                <td>{{r['recipient_user_type']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer" style="text-align: right">
                    <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove" style="margin-right: 5px"></i>Close</button>
                </div>
            </div>
        </div>
    </div>
</div>