<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-lg">
        <form (ngSubmit)="save()" novalidate [formGroup]="paramHirarkiWarehouseForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail Hirarki Warehouse
                    </span>
                    <span *ngIf="state === 1">
                        Mapping Hirarki Warehouse
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group" *ngIf="state === 1">
                                <label class="control-label col-md-2">Search Internal</label>
                                <div class="col-md-4">
                                    <!-- <ng-select #internalrecoveryselect [items]="data.internal_recoveries" [disabled]="disabled"
                                        (selected)="selectedInternalRecovery($event)" placeholder="No internal recovery selected">
                                    </ng-select> -->
                                    <input type="text" class="form-control" formControlName="search_internal_recovery"
                                        placeholder="Internal Recovery">
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-2">NIK</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="nik" placeholder="NIK">
                                </div>
                                <label class="control-label col-md-2">Name</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Email</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="email" placeholder="Email">
                                </div>
                                <label class="control-label col-md-2">Handphone</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="handphone"
                                        placeholder="Handphone">
                                </div>
                            </div>
                            <div class="form-group" style="text-align: right">
                                <button type="button" *ngIf="state !== 0"
                                    [disabled]="paramHirarkiWarehouseForm.get('search_internal_recovery').value == '' || paramHirarkiWarehouseForm.get('search_internal_recovery').value == null "
                                    class="btn btn-primary no-radius" style="margin-right: 50px" (click)="search()">
                                    <span style="float:left;margin-right: 7px">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    Search Internal
                                </button>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="panel-body">
                                    <gridSelect-view [listCriteria]="listCriteria" [columns]="columns" [data]="data"
                                        [display]="getDetailCallback" [view]="viewCallback" [edit]="editCallback"
                                        [remove]="deleteCallback" [options]="option" [permission]="permission"
                                        [state]="state" [dataSelected]="dataSelected"></gridSelect-view>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state !== 0" [disabled]="paramHirarkiWarehouseForm.invalid"
                            class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<paramHirarkiWarehouse-contentDetail [id]="'modal-contentDetail'"
    [paramHirarkiWarehouseContent]="paramHirarkiWarehouseContent"></paramHirarkiWarehouse-contentDetail>