<div class="form-horizontal">
    <div class="form-group" style="margin-bottom: 5px">
        <div class="col-md-9" style="margin:10px; margin-left: 0; margin-right: 0">
            <div class="popup">
                <span class="popuptext" id="myPopup">
                    <b>Alert: </b>Choose criteria here!
                </span>
                <div class="input-group input-group-md">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success dropdown-toggle white no-rad" data-toggle="dropdown"
                            aria-expanded="false" style="width: 120px">
                            <span style="color: #777">Filter</span>
                            <span class="fa fa-angle-down" style="margin-left: 10px; color: #777"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let crt of listCriteriaLookup" (click)="changeCriteria(crt)" style="cursor: pointer">
                                <a>{{crt.text}}</a>
                            </li>
                        </ul>
                    </div>
                    <input type="text" name="value" [(ngModel)]="value" class="no-radius form-control" placeholder="{{this.placeholderCriteria}}"
                        (keyup.enter)="searchLookup()">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle-right white no-rad" style="width: 50px"
                            (click)="searchLookup()">
                            <span class="fa fa-search" style="color:#777"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="overflow-x: scroll">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 20px"></th>
                <th *ngFor="let c of columns" (click)="sort(c.field)" style="min-width: 50px">
                    {{c.text}}
                    <span style="float:right">
                        <i class="fa" [class.fa-sort-amount-desc]="c.field == options.order.column && ascending"
                            [class.fa-sort-amount-asc]="c.field == options.order.column && !ascending" [class.fa-sort]="c.field != options.order.column"
                            [style.opacity]="options.order.column == c.field ? .7 : .3">
                        </i>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of data.rows">
                <td>
                    <a href="javascript:" (click)="select(r)" style="margin-right:5px; color:green">
                        <i class="fa fa-check"> </i>
                    </a>
                </td>
                <td *ngFor="let c of columns">{{r[c.field]}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-12" style="margin-top: 10px; text-align: right">
    <button class="no-rad btn btn-default btn-sm" (click)="prev()" [disabled]="options.disPrev">
        <i class="fa fa-angle-left" style="margin-right:8px"></i>Prev
    </button>
    <button class="no-rad btn btn-default btn-sm" (click)="next()" [disabled]="options.disNext">
        Next
        <i class="fa fa-angle-right" style="margin-left:5px"></i>
    </button>
</div>