<div class="wrapper">
  <div class="content-wrapper" style="min-height: 720px">
    <section class="content clearfix">
      <div class="nav-tabs-custom">
        <div class="navbar-header">
          <span class="navbar-brand">Parameter Warehouse</span>
        </div>
        <ul class="nav nav-tabs">
          <li routerLinkActive="active" class="" id="warehouse">
            <a routerLink="warehouse" (click)="clickNav('warehouse')" style="cursor: pointer"> Warehouse</a>
          </li>
          <li routerLinkActive="active" class="" id="remote_warehouse">
            <a routerLink="remote_warehouse" (click)="clickNav('remote_warehouse')" style="cursor: pointer"> Remote Warehouse</a>
          </li>
          <li routerLinkActive="active" class="" id="branch_warehouse">
            <a routerLink="branch_warehouse" (click)="clickNav('branch_warehouse')" style="cursor: pointer"> Branch Warehouse</a>
          </li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>