<div class="wrapper">
    <div class="content-wrapper" style="min-height: 880px">
        <section class="content">
            <div class="row">
                <div class="col-md-12 animate-bottom" id="dataGrid" style="display: none">
                    <div class="panel panel-primary">
                        <section class="content-header clearfix">
                            <h1>
                                <b>External Recovery</b> list
                                <i class="fa fa-refresh refresh-grid" (click)="displayData()" title="Click to Refresh"></i>
                            </h1>
                        </section>
                        <div class="panel-body">
                            <grid-view [listCriteria]="listCriteria" [columns]="columns" [data]="data" [display]="displayCallback"
                                [view]="viewCallback" [edit]="editCallback" [remove]="deleteCallback" [options]="option"
                                [permission]="permission"></grid-view>
                        </div>
                    </div>
                    <button type="button" (click)="addNew()" *ngIf="permission.create" class="btn btn-primary btn-lg float-button">
                        <i class="fa fa-sitemap" style="margin-right:7px"></i>Mapping
                    </button>
                </div>
                <div class="col-md-12" id="loadingGrid" style="display: none; text-align: center; margin-top: 40px">
                    <div class="login-logo" style="margin-bottom: 30px">
                        <img class="img-logo-1" src="assets/img/rats-logo-new.png">
                    </div>
                    <h2>Gathering data from server...</h2>
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <externalRecovery-detail [id]="'modal-detail'" [externalRecovery]="externalRecovery"
                    [externalRecoveryForm]="externalRecoveryForm" [state]="state" [displayData]="displayCallback"
                    [listCriteria]="listCriteriaInnerTable" [columns]="columnsInnerTable" [data]="dataInnerTable"
                    [searchMOU]="searchMOUCallback" [searchMOUAfterAdd]="searchMOUAfterAddCallback" [option]="optionInnerTable"
                    [dataSelected]="dataSelected" [permission]="permissionInnerTable"></externalRecovery-detail>
            </div>
        </section>
    </div>
</div>