<div class="wrapper">
    <div class="content-wrapper" style="min-height: 880px">
        <section class="content">
            <div class="row">
                <div class="col-md-12 animate-bottom" id="dataGrid" style="display: none">
                    <div class="panel panel-primary">
                        <section class="content-header clearfix">
                            <h1>
                                <b>Activity</b> log
                                <i class="fa fa-refresh refresh-grid" (click)="refresh()" title="Click to Refresh"></i>
                            </h1>
                        </section>
                        <div class="panel-body">
                            <report-view [listCriteria]="listCriteria" [columns]="columns" [data]="data"
                                [display]="displayCallback" [options]="option"></report-view>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="loadingGrid" style="display: none; text-align: center; margin-top: 40px">
                    <div class="login-logo" style="margin-bottom: 30px">
                        <img class="img-logo-1" src="assets/img/rats-logo-new.png">
                    </div>
                    <h2>Gathering data from server...</h2>
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>