<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>
                    Detail User Mobile
                </span>
            </div>
            <div class="panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{userMobile.user_name}}"
                                    placeholder="Name" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Type</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{userMobile.user_type}}"
                                    placeholder="Type" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">KTP</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{userMobile.user_ktp}}"
                                    placeholder="KTP" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Email</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{userMobile.user_email}}"
                                    placeholder="Email" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Handphone</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{userMobile.user_handphone}}"
                                    placeholder="Handphone" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Username</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{userMobile.user_username}}"
                                    placeholder="Username" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal" *ngIf="state === -1">
                        <div class="form-group">
                            <label class="control-label col-md-4">Image Upload</label>
                            <div class="col-md-5">
                                <input type="file" id="imageUpload" (change)="onFileChange($event)" #fileInput>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal" *ngIf="state === 0">
                        <div class="form-group">
                            <label class="control-label col-md-4">Uploaded Image</label>
                            <div class="col-md-5">
                                <img [src]="base+userMobile.picture" [attr.alt]="userMobile.name" class="img-content">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="text-align: right">
                    <button type="button" *ngIf="state === -1" class="btn btn-danger"
                        [disabled]="userMobile.device_id === null" (click)="unlock()">
                        <span style="float:left;margin-right: 5px">
                            <i class="fa fa-unlock"></i>
                        </span>
                        Unlock
                    </button>
                    <button type="button" *ngIf="state === -1 && userMobile.is_login === 'Active'"
                        class="btn btn-danger" (click)="forceLogout()">
                        <span style="float:left;margin-right: 5px">
                            <i class="fa fa-power-off"></i>
                        </span>
                        Force Logout
                    </button>
                    <button type="submit" *ngIf="state === -1"
                        [disabled]="userMobileImage.name === undefined || userMobileImage.name === null"
                        class="btn btn-success" (click)="save()">
                        <span style="float:left;margin-right: 5px">
                            <i class="fa fa-check-circle"></i>
                        </span>
                        Save Picture
                    </button>
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                </div>
            </div>
        </div>

    </div>
</div>