<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-md">
        <form (ngSubmit)="save()" novalidate [formGroup]="remoteWarehouseForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail Remote Warehouse
                    </span>
                    <span *ngIf="state === 1">
                        Upload Excel
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group" *ngIf="state === 0">
                                <label class="control-label col-md-4">Name</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': nameMessage, 'has-success': !nameMessage && remoteWarehouseForm.get('name').dirty }">
                                    <input type="text" id="remotewarehousename" class="form-control" formControlName="name"
                                        placeholder="Name (required)">
                                    <span class="help-block" *ngIf="nameMessage">
                                        <small>
                                            {{nameMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state === 1">
                                <label class="control-label col-md-4">Excel Upload</label>
                                <div class="col-md-5">
                                    <input type="file" id="excelUpload" (change)="onFileChange($event)" #fileInput>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state === 1">
                                <div class="col-md-10">
                                    <label class="control-label col-md-3"></label>
                                    <div class="col-md-7">
                                        <input type="checkbox" name="customerIssue" formControlName="isReplace">
                                        Replace all data from database
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state === 1" [disabled]="remoteWarehouseUpload.name === '' || remoteWarehouseUpload.name === undefined"
                            class="btn btn-success">
                            Upload
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>