<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-lg">
        <form (ngSubmit)="save()" novalidate [formGroup]="cabangWarehouseForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail Branch Warehouses
                    </span>
                    <span *ngIf="state === 1">
                        Mapping Branch Warehouse
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group" *ngIf="state === 1">
                                <label class="control-label col-md-2"> Warehouse</label>
                                <div class="col-md-4">
                                    <ng-select #warehouseselect [items]="data.warehouses" [disabled]="disabled"
                                        (selected)="selectedWarehouse($event)" placeholder="No warehouse selected">
                                    </ng-select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-2">Warehouse Name</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="warehouse_name"
                                        placeholder="Warehouse Name">
                                </div>
                            </div>
                            <div class="form-group" style="text-align: right">
                                <button type="button" *ngIf="state !== 0" [disabled]="cabangWarehouseForm.get('search_warehouse').value == '' || cabangWarehouseForm.get('search_warehouse').value == null "
                                    class="btn btn-primary no-radius" style="margin-right: 50px" (click)="search()">
                                    <span style="float:left;margin-right: 7px">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    Search Branch Warehouse
                                </button>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="panel-body">
                                    <gridSelect-view [listCriteria]="listCriteria" [columns]="columns" [data]="data"
                                        [display]="getDetailCallback" [view]="viewCallback" [edit]="editCallback"
                                        [remove]="deleteCallback" [options]="option" [permission]="permission" [state]="state"
                                        [dataSelected]="dataSelected"></gridSelect-view>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state !== 0" [disabled]="cabangWarehouseForm.invalid" class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<paramCabangWarehouse-contentDetail [id]="'modal-contentDetail'" [cabangWarehouseContent]="cabangWarehouseContent"></paramCabangWarehouse-contentDetail>