<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-md">
        <form (ngSubmit)="save()" novalidate [formGroup]="webUserForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail web User
                    </span>
                    <span *ngIf="state === 1">
                        New Web User
                    </span>
                    <span *ngIf="state === -1">
                        Edit Web User
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4">Name</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': nameMessage, 'has-success': !nameMessage && webUserForm.get('name').dirty }">
                                    <input type="text" id="name" class="form-control" formControlName="name"
                                        placeholder="Name (required)">
                                    <span class="help-block" *ngIf="nameMessage">
                                        <small>
                                            {{nameMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Email</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': emailMessage, 'has-success': !emailMessage && webUserForm.get('email').dirty }">
                                    <input type="text" class="form-control" formControlName="email"
                                        placeholder="Email (required)">
                                    <span class="help-block" *ngIf="emailMessage">
                                        <small>
                                            {{emailMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Handphone</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': handphoneMessage, 'has-success': !handphoneMessage && webUserForm.get('handphone').dirty }">
                                    <input type="text" class="form-control" formControlName="handphone"
                                        placeholder="Handphone (required)">
                                    <span class="help-block" *ngIf="handphoneMessage">
                                        <small>
                                            {{handphoneMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state !== 0">
                                <label class="control-label col-md-4">Role Type</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': roleMessage, 'has-success': !roleMessage && webUserForm.get('role').dirty  }">
                                    <div class="input-group">
                                        <input type="text" class="form-control rad-input-group" formControlName="role"
                                            placeholder="Role Type (required)">
                                        <span class="input-group-addon">
                                            <a (click)="removeRoleType()" href="javascript:" class="fa fa-remove"
                                                style="color:#dd3535"></a>
                                        </span>
                                        <span class="input-group-addon rad-span-group">
                                            <a (click)="showRoleType()" href="javascript:" class="fa fa-search"></a>
                                        </span>
                                    </div>
                                    <span class="help-block" *ngIf="roleMessage">
                                        <small>
                                            {{roleMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state === 0">
                                <label class="control-label col-md-4">Role Type</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" formControlName="role">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state == -1">
                                <label class="control-label col-md-4">Status</label>
                                <div class="col-md-5">
                                    <label class="radio-inline">
                                        <input type="radio" value="active" formControlName="is_active">Active
                                    </label>
                                    <label class="radio-inline" style="margin-left: 40px">
                                        <input type="radio" value="notactive" formControlName="is_active">Not Active
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state == 0">
                                <label class="control-label col-md-4">Status</label>
                                <label class="control-label col-md-5" *ngIf="webUser.is_active === 'Active'">
                                    <span class="label pull-left label-success">Active</span>
                                </label>
                                <label class="control-label col-md-5" *ngIf="webUser.is_active === 'Not Active'">
                                    <span class="label pull-left label-error">Not Active</span>
                                </label>
                            </div>

                            <div class="form-group" *ngIf="state == 1">
                                <label class="control-label col-md-4">Password</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': passwordMessage, 'has-success': !passwordMessage && webUserForm.get('password').dirty }">
                                    <input type="password" class="form-control" formControlName="password"
                                        placeholder="Password (6 - 20 characters)">
                                    <span class="help-block" *ngIf="passwordMessage">
                                        <small>
                                            {{passwordMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state == 1">
                                <label class="control-label col-md-4">Confirm Password</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': webUserForm.get('password').value != webUserForm.get('confirm_password').value &&
                                        webUserForm.get('confirm_password').pristine == false, 'has-success': webUserForm.get('password').value == webUserForm.get('confirm_password').value &&
                                        webUserForm.get('confirm_password').pristine == false }">
                                    <input type="password" class="form-control" formControlName="confirm_password"
                                        placeholder="Confirm Password">
                                    <span class="help-block"
                                        *ngIf="webUserForm.get('password').value != webUserForm.get('confirm_password').value &&  webUserForm.get('confirm_password').pristine == false">
                                        <small>
                                            Password missmatch.
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state !== 0">
                                <label class="control-label col-md-4">Image Upload</label>
                                <div class="col-md-5">
                                    <input type="file" id="imageUpload" (change)="onFileChange($event)" #fileInput>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state === 0">
                                <label class="control-label col-md-4">Uploaded Image</label>
                                <div class="col-md-5">
                                    <img [src]="base+webUser.picture" [attr.alt]="webUser.name" class="img-content">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state !== 0" [disabled]="webUserForm.invalid || (state == 1 &&
                            webUserForm.get('password').value != webUserForm.get('confirm_password').value)"
                            class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="lookup-roleType">
    <lookup-roleType [select]="selectRoleTypeCallback"></lookup-roleType>
</div>