<div class="modal fade sansserif" id="{{id}}">
  <div class="modal-dialog modal-md">
    <form (ngSubmit)="save()" novalidate [formGroup]="forgotPasswordForm">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="fa fa-envelope-o" style="margin-right: 5px"></span>Send Recovery Email
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-md-4">Email</label>
              <div class="col-md-5" [ngClass]="{ 'has-error': emailMessage, 'has-success': !emailMessage && forgotPasswordForm.get('email').dirty }">
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email (required)">
                <span class="help-block" *ngIf="emailMessage">
                  <small>
                    {{emailMessage}}
                  </small>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer" style="text-align: right">
          <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn btn-success">
            <i class="fa fa-send" style="margin-right: 5px"></i>Send
          </button>
          <button class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-times-circle" style="margin-right:5px"></i>Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>