<div class="modal fade sansserif" id="{{id}}">
    <div class="modal-dialog modal-md">
        <form (ngSubmit)="save()" novalidate [formGroup]="changePasswordForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="fa fa-lock" style="margin-right: 5px"></span> Change Password
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Old Password</label>
                            <div class="col-md-5" [ngClass]="{ 'has-error': webPasswordMessage, 'has-success': !webPasswordMessage && changePasswordForm.get('old_password').dirty }">
                                <input type="password" id="webpassword" class="form-control" formControlName="old_password" placeholder="Old Password (required)">
                                <span class="help-block" *ngIf="webPasswordMessage">
                                    <small>
                                        {{webPasswordMessage}}
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">New Password</label>
                            <div class="col-md-5" [ngClass]="{ 'has-error': newPasswordMessage, 'has-success': !webPasswordMessage && changePasswordForm.get('new_password').dirty }">
                                <input type="password" class="form-control" formControlName="new_password" placeholder="New Password (6 - 20 characters)">
                                <span class="help-block" *ngIf="newPasswordMessage">
                                    <small>
                                        {{newPasswordMessage}}
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Confirm New Password</label>
                            <div class="col-md-5" [ngClass]="{ 'has-error': confirmNewPasswordMessage || (changePasswordForm.get('new_password').value != changePasswordForm.get('confirm_new_password').value &&  
                            changePasswordForm.get('confirm_new_password').pristine == false), 'has-success': !webPasswordMessage && changePasswordForm.get('confirm_new_password').dirty }">
                                <input type="password" class="form-control" formControlName="confirm_new_password" placeholder="Confirm New Password">
                                <span class="help-block" *ngIf="confirmNewPasswordMessage">
                                    <small>
                                        {{confirmNewPasswordMessage}}
                                    </small>
                                </span>
                                <span class="help-block" *ngIf="!confirmNewPasswordMessage && changePasswordForm.get('new_password').value != changePasswordForm.get('confirm_new_password').value &&  changePasswordForm.get('confirm_new_password').pristine == false">
                                    <small>
                                        Password missmatch.
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer" style="text-align: right">
                    <button id="saveBtnNav" type="submit" [disabled]="changePasswordForm.invalid || changePasswordForm.get('new_password').value != changePasswordForm.get('confirm_new_password').value"
                        class="btn btn-success">
                        <span style="float:left;margin-right: 5px">
                            <i class="fa fa-check-circle"></i>
                        </span>
                        Save
                    </button>
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times-circle" style="margin-right:5px"></i>Close</button>
                </div>
            </div>
        </form>
    </div>
</div>