<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-lg">
        <form (ngSubmit)="save()" novalidate [formGroup]="externalRecoveryForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail External Recovery
                    </span>
                    <span *ngIf="state === 1">
                        Mapping External Recovery
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group" *ngIf="state === 1">
                                <label class="control-label col-md-2">Search MOU</label>
                                <div class="col-md-5">
                                    <!-- <ng-select #mouselect [items]="data.mous" [disabled]="disabled" (selected)="selectedMou($event)"
                                        placeholder="No mou selected">
                                    </ng-select> -->
                                    <input type="text" class="form-control" formControlName="search_mou"
                                        placeholder="MOU">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Name</label>
                                <div class="col-md-3">
                                    <input type="text" id="name" class="form-control" formControlName="name"
                                        placeholder="Name">
                                </div>
                                <label class="control-label col-md-2">PIC Name</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="pic_name" placeholder="PIC Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Category</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="category" placeholder="Category">
                                </div>
                                <label class="control-label col-md-2">PIC Position</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="pic_position" placeholder="PIC Position">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Start Date</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="start_date" placeholder="Start Date">
                                </div>
                                <label class="control-label col-md-2">PIC Handphone</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="pic_handphone" placeholder="PIC Handphone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">End Date</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="end_date" placeholder="End Date">
                                </div>
                            </div>
                            <div class="form-group" style="text-align: right">
                                <button type="button" *ngIf="state !== 0" [disabled]="externalRecoveryForm.get('search_mou').value == '' || externalRecoveryForm.get('search_mou').value == null "
                                    class="btn btn-primary no-radius" style="margin-right: 50px" (click)="search()">
                                    <span style="float:left;margin-right: 7px">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    Search MOU
                                </button>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="panel-body">
                                    <gridSelect-view [listCriteria]="listCriteria" [columns]="columns" [data]="data"
                                        [display]="searchMOUCallback" [view]="viewCallback" [edit]="editCallback"
                                        [remove]="deleteCallback" [options]="option" [permission]="permission" [state]="state"
                                        [dataSelected]="dataSelected"></gridSelect-view>
                                </div>
                            </div>
                            <button type="button" (click)="addNew()" *ngIf="state !== 0 && externalRecovery.id != null && externalRecovery.category.toLowerCase() !== 'shadow'"
                                style="margin-left: 20px" class="btn btn-default btn-md no-radius">
                                <i class="fa fa-plus" style="margin-right:5px"></i>Add New
                            </button>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state !== 0" [disabled]="externalRecoveryForm.invalid" class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<externalRecovery-contentDetail [id]="'modal-contentDetail'" [externalRecoveryContent]="externalRecoveryContent"
    [externalRecoveryContentForm]="externalRecoveryContentForm" [stateContent]="stateContent" [displayData]="searchMOUCallback"
    [displayDataAfterAdd]="searchMOUAfterAddCallback"></externalRecovery-contentDetail>