<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>
                    Detail Assignment
                </span>
            </div>
            <div class="panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Mitra Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.mitra_name}}"
                                    placeholder="Mitra Name" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Mitra KTP</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.mitra_ktp}}"
                                    placeholder="Mitra KTP" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Mitra Handphone</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.mitra_handphone}}"
                                    placeholder="Mitra Handphone" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Unit Branch</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.unit_branch_name}}"
                                    placeholder="Unit Branch" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Unit Area</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.unit_area_name}}"
                                    placeholder="Unit Area" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">No SK</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.no_sk}}"
                                    placeholder="No SK" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">No Contract</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.no_kontrak}}"
                                    placeholder="No Contract" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Assignment Status</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.assignment_status}}"
                                    placeholder="Assignment Status" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Warehouse Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.warehouse_name}}"
                                    placeholder="Warehouse Name" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Warehouse Type</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.warehouse_type}}"
                                    placeholder="Warehouse Type" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Warehouse PIC Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.warehouse_pic_name}}"
                                    placeholder="Warehouse PIC Name" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Warehouse PIC NIK</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.warehouse_pic_nik}}"
                                    placeholder="Warehouse PIC NIK" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Format Address</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.format_address}}"
                                    placeholder="Format Address" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Coordinator Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.koordinator_name}}"
                                    placeholder="Coordinator Name" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Coordinator NIK</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.koordinator_nik}}"
                                    placeholder="Coordinator NIK" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Assigned Date</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.assigned_date}}"
                                    placeholder="Assigned Date" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Serah Terima Date</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.serah_terima_date}}"
                                    placeholder="Serah Terima Date" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Completed Date</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionWarehouse.completed_date}}"
                                    placeholder="Completed Date" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <form (ngSubmit)="save()" novalidate [formGroup]="correctionWarehouseForm">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4">Warehouse Type</label>
                                <div class="col-md-6">
                                    <label class="radio-inline">
                                        <input type="radio" value="warehouse" formControlName="to_warehouse_type_id">Warehouse
                                    </label>
                                    <label class="radio-inline" style="margin-left: 40px">
                                        <input type="radio" value="remote_warehouse" formControlName="to_warehouse_type_id">Remote
                                        Warehouse
                                    </label>
                                    <label class="radio-inline" style="margin-left: 40px">
                                        <input type="radio" value="cabang" formControlName="to_warehouse_type_id">Cabang
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal" *ngIf="correctionWarehouseForm.get('to_warehouse_type_id').value != null && correctionWarehouseForm.get('to_warehouse_type_id').value != '' ">
                            <div class="form-group">
                                <label class="control-label col-md-4">Warehouse Name</label>
                                <div class="col-md-6">
                                    <select class="form-control" formControlName="to_warehouse_id" *ngIf="correctionWarehouseForm.get('to_warehouse_type_id').value === 'warehouse' ">
                                        <option *ngFor="let w of dataWarehouse.warehouse.rows" [value]="w.warehouse_id">
                                            {{w.warehouse_name}}
                                        </option>
                                    </select>
                                    <select class="form-control" formControlName="to_warehouse_id" *ngIf="correctionWarehouseForm.get('to_warehouse_type_id').value === 'remote_warehouse' ">
                                        <option *ngFor="let w of dataWarehouse.remote_warehouse.rows" [value]="w.warehouse_id">
                                            {{w.warehouse_name}}
                                        </option>
                                    </select>
                                    <select class="form-control" formControlName="to_warehouse_id" *ngIf="correctionWarehouseForm.get('to_warehouse_type_id').value === 'cabang' ">
                                        <option *ngFor="let w of dataWarehouse.cabang.rows" [value]="w.warehouse_id">
                                            {{w.warehouse_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal" *ngIf="correctionWarehouseForm.get('to_warehouse_id').value != null && correctionWarehouseForm.get('to_warehouse_id').value != '' ">
                            <div class="form-group">
                                <label class="control-label col-md-4">Warehouse PIC Name</label>
                                <div class="col-md-6">
                                    <select class="form-control" formControlName="to_pic_id" *ngIf="correctionWarehouseForm.get('to_warehouse_type_id').value === 'warehouse' ">
                                        <option *ngFor="let w of picSelected" [value]="w.pic_id">
                                            {{w.pic_name}}
                                        </option>
                                    </select>
                                    <select class="form-control" formControlName="to_pic_id" *ngIf="correctionWarehouseForm.get('to_warehouse_type_id').value === 'remote_warehouse' ">
                                        <option *ngFor="let w of picSelected" [value]="w.pic_id">
                                            {{w.pic_name}}
                                        </option>
                                    </select>
                                    <select class="form-control" formControlName="to_pic_id" *ngIf="correctionWarehouseForm.get('to_warehouse_type_id').value === 'cabang' ">
                                        <option *ngFor="let w of picSelected" [value]="w.pic_id">
                                            {{w.pic_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="color:#dd3535">Change Reason</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': reasonMessage, 'has-success': !reasonMessage && correctionWarehouseForm.get('reason').dirty }">
                                    <input type="text" class="form-control" formControlName="reason" placeholder="Change Reason (required)">
                                    <span class="help-block" *ngIf="reasonMessage">
                                        <small>
                                            {{reasonMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer" style="text-align: right">
                    <button id="saveBtn" type="submit" [disabled]="correctionWarehouseForm.invalid" class="btn btn-danger"
                        (click)="save()">
                        <span style="float:left;margin-right: 5px">
                            <i class="fa fa-refresh"></i>
                        </span>
                        Change Warehouse
                    </button>
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                </div>
            </div>
        </div>

    </div>
</div>