<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-lg">
        <form (ngSubmit)="save()" novalidate [formGroup]="paramAreaRecoveryForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail Area Recovery
                    </span>
                    <span *ngIf="state === 1">
                        Mapping Area Recovery
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group" *ngIf="state === 1">
                                <label class="control-label col-md-2"> Area</label>
                                <div class="col-md-4">
                                    <ng-select #areaselect [items]="data.areas" [disabled]="disabled" (selected)="selectedArea($event)"
                                        placeholder="No area selected">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state === 1">
                                <label class="control-label col-md-2">Area Recovery</label>
                                <div class="col-md-4">
                                    <ng-select #arearecoveryselect [items]="data.area_recoveries" [disabled]="disabled"
                                        (selected)="selectedAreaRecovery($event)" placeholder="No area recovery selected">
                                    </ng-select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-2">Area </label>
                                <div class="col-md-3">
                                    <input type="text" id="name" class="form-control" formControlName="area_name"
                                        placeholder="Area">
                                </div>
                                <label class="control-label col-md-2">Area Recovery</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="area_recovery_name"
                                        placeholder="Area Recovery">
                                </div>
                            </div>
                            <div class="form-group" style="text-align: right">
                                <button type="button" *ngIf="state !== 0" [disabled]="paramAreaRecoveryForm.get('search_area').value == '' || paramAreaRecoveryForm.get('search_area').value == null ||
                                 paramAreaRecoveryForm.get('search_area_recovery').value == '' "
                                    class="btn btn-primary no-radius" style="margin-right: 50px" (click)="search()">
                                    <span style="float:left;margin-right: 7px">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    Search Area Recovery
                                </button>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="panel-body">
                                    <gridSelectAreaRec-view [listCriteria]="listCriteria" [columns]="columns" [data]="data"
                                        [display]="getDetailCallback" [view]="viewCallback" [edit]="editCallback"
                                        [remove]="deleteCallback" [options]="option" [permission]="permission" [state]="state"
                                        [dataSelected]="dataSelected"></gridSelectAreaRec-view>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state !== 0" [disabled]="paramAreaRecoveryForm.invalid" class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<paramAreaRecovery-contentDetail [id]="'modal-contentDetail'" [paramAreaRecoveryContent]="paramAreaRecoveryContent"></paramAreaRecovery-contentDetail>