<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-md">
        <form (ngSubmit)="save()" novalidate [formGroup]="externalRecoveryContentForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="stateContent === 0">
                        Detail Mitra
                    </span>
                    <span *ngIf="stateContent === 1">
                        New Mitra
                    </span>
                    <span *ngIf="stateContent === -1">
                        Edit Mitra
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4">Name</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': nameMessage, 'has-success': !nameMessage && externalRecoveryContentForm.get('name').dirty }">
                                    <input type="text" id="contentname" class="form-control" formControlName="name"
                                        placeholder="Name (required)">
                                    <span class="help-block" *ngIf="nameMessage">
                                        <small>
                                            {{nameMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Email</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': emailMessage, 'has-success': !emailMessage && externalRecoveryContentForm.get('email').dirty }">
                                    <input type="text" class="form-control" formControlName="email" placeholder="Email (required)">
                                    <span class="help-block" *ngIf="emailMessage">
                                        <small>
                                            {{emailMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Handphone</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': handphoneMessage, 'has-success': !handphoneMessage && externalRecoveryContentForm.get('handphone').dirty }">
                                    <input type="text" class="form-control" formControlName="handphone" placeholder="Handphone (required)">
                                    <span class="help-block" *ngIf="handphoneMessage">
                                        <small>
                                            {{handphoneMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">KTP</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': ktpMessage, 'has-success': !ktpMessage && externalRecoveryContentForm.get('ktp').dirty }">
                                    <input type="text" class="form-control" formControlName="ktp" placeholder="KTP (required)">
                                    <span class="help-block" *ngIf="ktpMessage">
                                        <small>
                                            {{ktpMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">DOB</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': dobMessage, 'has-success': !dobMessage && externalRecoveryContentForm.get('dob').dirty }">
                                    <input type="date" class="form-control" formControlName="dob">
                                    <span class="help-block" *ngIf="dobMessage">
                                        <small>
                                            {{dobMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="stateContent != 1">
                                <label class="control-label col-md-4">Category</label>
                                <div class="col-md-5">
                                    <input type="text" *ngIf="externalRecoveryContent.is_shadow" class="form-control"
                                        value="Shadow" [disabled]="true">
                                    <input type="text" *ngIf="!externalRecoveryContent.is_shadow" class="form-control"
                                        value="Devinitive" [disabled]="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Surat Penunjukan</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': suratMessage, 'has-success': !suratMessage && externalRecoveryContentForm.get('surat_penunjukan').dirty }">
                                    <input type="text" class="form-control" formControlName="surat_penunjukan"
                                        placeholder="Surat Penunjukan (required)">
                                    <span class="help-block" *ngIf="suratMessage">
                                        <small>
                                            {{suratMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Tanggal Penunjukan</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': tanggalMessage, 'has-success': !tanggalMessage && externalRecoveryContentForm.get('tanggal_penunjukan').dirty }">
                                    <input type="date" class="form-control" formControlName="tanggal_penunjukan">
                                    <span class="help-block" *ngIf="tanggalMessage">
                                        <small>
                                            {{tanggalMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">MRO</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': mroMessage, 'has-success': !mroMessage && externalRecoveryContentForm.get('mro').dirty }">
                                    <input type="text" class="form-control" formControlName="mro" placeholder="MRO (required)">
                                    <span class="help-block" *ngIf="mroMessage">
                                        <small>
                                            {{mroMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="stateContent == -1">
                                <label class="control-label col-md-4">Status</label>
                                <div class="col-md-5">
                                    <label class="radio-inline">
                                        <input type="radio" value="active" formControlName="is_active">Active
                                    </label>
                                    <label class="radio-inline" style="margin-left: 40px">
                                        <input type="radio" value="notactive" formControlName="is_active">Not Active
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="stateContent == 0">
                                <label class="control-label col-md-4">Status</label>
                                <label class="control-label col-md-5" *ngIf="externalRecoveryContent.is_active">
                                    <span class="label pull-left label-success">Active</span>
                                </label>
                                <label class="control-label col-md-5" *ngIf="!externalRecoveryContent.is_active">
                                    <span class="label pull-left label-error">Not Active</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="stateContent !== 0" [disabled]="externalRecoveryContentForm.invalid"
                            class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>