<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-md">
        <form (ngSubmit)="save()" novalidate [formGroup]="paramDistributorContentForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="stateContent === 0">
                        Detail Content
                    </span>
                    <span *ngIf="stateContent === 1">
                        New Content
                    </span>
                    <span *ngIf="stateContent === -1">
                        Edit Content
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group" *ngIf="stateContent !== 0">
                                <label class="control-label col-md-4"> Parameter Content</label>
                                <div class="col-md-5">
                                    <ng-select #contentselect [items]="data.param_contents" [disabled]="disabled"
                                        (selected)="selectedContent($event)" placeholder="No parameter content selected">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="stateContent === 0">
                                <label class="control-label col-md-4">Parameter Name</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': nameMessage, 'has-success': !nameMessage && paramDistributorContentForm.get('parameter_content_name').dirty }">
                                    <input type="text" id="contentname" class="form-control" formControlName="parameter_content_name"
                                        placeholder="Parameter Name (required)">
                                    <span class="help-block" *ngIf="nameMessage">
                                        <small>
                                            {{nameMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="stateContent === 0">
                                <label class="control-label col-md-4">Parameter Description</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': descriptionMessage, 'has-success': !handphoneMessage && paramDistributorContentForm.get('parameter_content_description').dirty }">
                                    <input type="text" class="form-control" formControlName="parameter_content_description"
                                        placeholder="Parameter Content (required)">
                                    <span class="help-block" *ngIf="descriptionMessage">
                                        <small>
                                            {{descriptionMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="stateContent !== 0" [disabled]="paramDistributorContentForm.get('parameter_content_id').value === 0"
                            class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>