<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-md">
        <form (ngSubmit)="save()" novalidate [formGroup]="internalRecoveryForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail Internal Recovery
                    </span>
                    <span *ngIf="state === 1">
                        New Internal Recovery
                    </span>
                    <span *ngIf="state === -1">
                        Edit Internal Recovery
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group" *ngIf="state === 1">
                                <label class="control-label col-md-4">Search Internal</label>
                                <!-- <div class="col-md-5">
                                    <ng-select #internalselect [items]="data.internal_recoveries" [disabled]="disabled"
                                        (selected)="selectedInternalRecovery($event)" placeholder="No internal recovery selected">
                                    </ng-select>
                                </div> -->
                                <div class="col-md-5">
                                    <input type="text" class="form-control" formControlName="search_internal"
                                        placeholder="Internal Recovery">
                                </div>
                                <div class="col-md-3">
                                    <button type="button"
                                        [disabled]="internalRecoveryForm.get('search_internal').value == '' || internalRecoveryForm.get('search_internal').value == null"
                                        class="btn btn-primary no-radius" (click)="search()">
                                        <span style="float:left;margin-right: 7px">
                                            <i class="fa fa-search"></i>
                                        </span>
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Name</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': nameMessage, 'has-success': !nameMessage && internalRecoveryForm.get('name').dirty }">
                                    <input type="text" id="name" class="form-control" formControlName="name"
                                        placeholder="Name (required)">
                                    <span class="help-block" *ngIf="nameMessage">
                                        <small>
                                            {{nameMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">NIK</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': nikMessage, 'has-success': !nikMessage && internalRecoveryForm.get('nik').dirty }">
                                    <input type="text" class="form-control" formControlName="nik"
                                        placeholder="NIK (required)">
                                    <span class="help-block" *ngIf="nikMessage">
                                        <small>
                                            {{nikMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Email</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': emailMessage, 'has-success': !emailMessage && internalRecoveryForm.get('email').dirty }">
                                    <input type="text" class="form-control" formControlName="email"
                                        placeholder="Email (required)">
                                    <span class="help-block" *ngIf="emailMessage">
                                        <small>
                                            {{emailMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Handphone</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': handphoneMessage, 'has-success': !handphoneMessage && internalRecoveryForm.get('handphone').dirty }">
                                    <input type="text" class="form-control" formControlName="handphone"
                                        placeholder="Handphone (required)">
                                    <span class="help-block" *ngIf="handphoneMessage">
                                        <small>
                                            {{handphoneMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state !== 0">
                                <label class="control-label col-md-4">Position</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': positionMessage, 'has-success': !positionMessage && internalRecoveryForm.get('position').dirty  }">
                                    <div class="input-group">
                                        <input type="text" class="form-control rad-input-group"
                                            formControlName="position" placeholder="Postion (required)">
                                        <span class="input-group-addon">
                                            <a (click)="removePosition()" href="javascript:" class="fa fa-remove"
                                                style="color:#dd3535"></a>
                                        </span>
                                        <span class="input-group-addon rad-span-group">
                                            <a (click)="showPosition()" href="javascript:" class="fa fa-search"></a>
                                        </span>
                                    </div>
                                    <span class="help-block" *ngIf="positionMessage">
                                        <small>
                                            {{positionMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state === 0">
                                <label class="control-label col-md-4">Position</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" formControlName="position">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state == -1">
                                <label class="control-label col-md-4">Status</label>
                                <div class="col-md-5">
                                    <label class="radio-inline">
                                        <input type="radio" value="active" formControlName="is_active">Active
                                    </label>
                                    <label class="radio-inline" style="margin-left: 40px">
                                        <input type="radio" value="notactive" formControlName="is_active">Not Active
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state == 0">
                                <label class="control-label col-md-4">Status</label>
                                <label class="control-label col-md-5" *ngIf="internalRecovery.is_active">
                                    <span class="label pull-left label-success">Active</span>
                                </label>
                                <label class="control-label col-md-5" *ngIf="!internalRecovery.is_active">
                                    <span class="label pull-left label-error">Not Active</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state !== 0" [disabled]="internalRecoveryForm.invalid"
                            class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="lookup-position">
    <lookup-position [select]="selectPositionCallback"></lookup-position>
</div>