<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-lg">
        <form (ngSubmit)="save()" novalidate [formGroup]="paramDistributorForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail Distributor
                    </span>
                    <span *ngIf="state === 1">
                        Mapping Distributor
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group" *ngIf="state === 1">
                                <label class="control-label col-md-2"> Distributor</label>
                                <div class="col-md-4">
                                    <ng-select #distributorselect [items]="data.distributors" [disabled]="disabled"
                                        (selected)="selectedDistributor($event)" placeholder="No distributor selected">
                                    </ng-select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="control-label col-md-2">Sender Name</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" formControlName="name" placeholder="Sender Name">
                                </div>
                            </div>
                            <div class="form-group" style="text-align: right">
                                <button type="button" *ngIf="state !== 0" [disabled]="paramDistributorForm.get('search_distributor').value == '' || paramDistributorForm.get('search_distributor').value == null"
                                    class="btn btn-primary no-radius" style="margin-right: 50px" (click)="search()">
                                    <span style="float:left;margin-right: 7px">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    Search Distributor
                                </button>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="panel-body">
                                    <gridSelectParam-view [listCriteria]="listCriteria" [columns]="columns" [data]="data"
                                        [display]="getDetailCallback" [view]="viewCallback" [edit]="editCallback"
                                        [remove]="deleteCallback" [options]="option" [permission]="permission" [state]="state"
                                        [dataSelected]="dataSelected"></gridSelectParam-view>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state !== 0" [disabled]="paramDistributorForm.invalid" class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<paramDistributor-contentDetail [id]="'modal-contentDetail'" [data]="data" [paramDistributorContent]="paramDistributorContent"
    [paramDistributorContentForm]="paramDistributorContentForm" [stateContent]="stateContent" [displayData]="getDetailCallback"
    [search]="searchCallback"></paramDistributor-contentDetail>