<header class="main-header">
  <a routerLink="dashboard" class="logo">
    <span class="logo-mini">
      <img id="img-mini" src="assets/img/rats-logo-new.png">
    </span>
    <span class="logo-lg">
      <img id="img" src="assets/img/rats-logo-new.png">
    </span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="javascript:" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="color: black">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:10px">
            <span class="hidden-xs" style="color: black; margin-right: 10px">{{localUser.name}}</span>
            <img src="assets/img/administrator.png" class="img-circle-nav">
            <span class="hidden-xs fa fa-caret-down" style="color: black;margin-left: 3px"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="assets/img/administrator.png" class="img-circle" alt="Admin Image">
              <p>
                {{localUser.name}} - {{localUser.role}}
                <small>
                  <i class="fa fa-circle text-success"></i> Online</small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="javascript:" (click)="changePassword()" class="btn btn-default">
                  <span class="fa fa-lock black-color" style="margin-right: 5px"></span>
                  <span class="black-color"> Change Password</span>
                </a>
              </div>
              <div class="pull-right">
                <a href="javascript:" (click)="logout()" class="btn btn-default">
                  <span class="fa fa-power-off black-color" style="margin-right: 5px"></span>
                  <span class="black-color">Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <br>
      <li class="treeview" routerLinkActive="active">
        <a routerLink="dashboard">
          <i class="fa fa-columns logo-menu"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-database logo-menu"></i>
          <span>Master Data</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active">
            <a routerLink="position">
              <i class="fa fa-circle-o logo-menu"></i> Position</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="warehouse">
              <i class="fa fa-circle-o logo-menu"></i> Warehouse</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="branches">
              <i class="fa fa-circle-o logo-menu"></i> Branch</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="remote_warehouse">
              <i class="fa fa-circle-o logo-menu"></i> Remote Warehouse</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="area">
              <i class="fa fa-circle-o logo-menu"></i> Area</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="area_recovery">
              <i class="fa fa-circle-o logo-menu"></i> Area Recovery</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-cog logo-menu"></i>
          <span>Setting Parameter</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active">
            <a routerLink="internal_recovery">
              <i class="fa fa-circle-o logo-menu"></i> Internal Recovery</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="external_recovery">
              <i class="fa fa-circle-o logo-menu"></i> External Recovery</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="hirarki_internal_recovery">
              <i class="fa fa-circle-o logo-menu"></i> Hirarki Internal Recovery</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="hirarki_external_recovery">
              <i class="fa fa-circle-o logo-menu"></i> Hirarki External Recovery</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="parameter_area_recovery">
              <i class="fa fa-circle-o logo-menu"></i> Area Recovery</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="parameter_coverage_recovery">
              <i class="fa fa-circle-o logo-menu"></i> Coverage Recovery</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="notification_content">
              <i class="fa fa-circle-o logo-menu"></i> Notification Content Setting</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="parameter_distribution">
              <i class="fa fa-circle-o logo-menu"></i> Distribution Setting</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="parameter_warehouse">
              <i class="fa fa-circle-o logo-menu"></i> Internal Warehouse</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="hirarki_warehouse">
              <i class="fa fa-circle-o logo-menu"></i> Hirarki Warehouse</a>
          </li>
        </ul>
      </li>
      <li class="treeview" routerLinkActive="active">
        <a routerLink="account_management">
          <i class="fa fa-calendar logo-menu"></i>
          <span>Account Management</span>
        </a>
      </li>
      <li class="treeview" routerLinkActive="active">
        <a routerLink="user_mobile">
          <i class="fa fa-user logo-menu"></i>
          <span>User Mobile</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit logo-menu"></i>
          <span>Correction</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active">
            <a routerLink="warehouse_correction">
              <i class="fa fa-circle-o logo-menu"></i> Warehouse</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="assignment_correction">
              <i class="fa fa-circle-o logo-menu"></i> Assignment</a>
          </li>
        </ul>
      </li>
      <li class="treeview" routerLinkActive="active">
        <a routerLink="notification">
          <i class="fa fa-users logo-menu"></i>
          <span>Send Notification</span>
        </a>
      </li>
      <!-- <li class="treeview" routerLinkActive="active">
          <a routerLink="reporting">
              <i class="fa fa-flag logo-menu"></i>
              <span>Reporting</span>
          </a>
      </li> -->
      <li class="treeview">
        <a href="#">
          <i class="fa fa-flag logo-menu"></i>
          <span>Reporting</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active">
            <a routerLink="report_assignment">
              <i class="fa fa-circle-o logo-menu"></i> Assignment</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="report_branch_coverage">
              <i class="fa fa-circle-o logo-menu"></i> Branch Coverage</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="report_explore">
              <i class="fa fa-circle-o logo-menu"></i> Explore</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="report_external_recovery">
              <i class="fa fa-circle-o logo-menu"></i> External Recovery</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="report_hirarki_internal">
              <i class="fa fa-circle-o logo-menu"></i> Hirarki Internal Recovery</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="report_hirarki_external">
              <i class="fa fa-circle-o logo-menu"></i> Hirarki External Recovery</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="report_internal_recovery">
              <i class="fa fa-circle-o logo-menu"></i> Internal Recovery</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="report_internal_recovery_non_active">
              <i class="fa fa-circle-o logo-menu"></i> Internal Recovery Non Active</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="report_parameter_area_recovery">
              <i class="fa fa-circle-o logo-menu"></i> Parameter Area Recovery</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="report_parameter_warehouse">
              <i class="fa fa-circle-o logo-menu"></i> Parameter Warehouse</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-flag logo-menu"></i>
          <span>Audit Trail</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active">
            <a routerLink="activity_audit_trail">
              <i class="fa fa-circle-o logo-menu"></i> Activity</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="login_audit_trail">
              <i class="fa fa-circle-o logo-menu"></i> login</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="error_audit_trail">
              <i class="fa fa-circle-o logo-menu"></i> Error</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
<br>
<change-password [id]="'change-password'" [changePasswordForm]="changePasswordForm" [initAdminData]="initAdminDataCallback"></change-password>