#innerrow {
    margin: 0;
    padding: 0;
}

.logo-dashboard {
    font-size: 70px;
    opacity: 0.2;
}

h1{
    margin-bottom: 0;
    margin-top: 0;
}

table.bottomBorder {
    border-collapse: collapse;
}

table.bottomBorder td, table.bottomBorder th {
    border-bottom: 1px solid gray;
    padding: 10px;
    text-align: left;
}

.yellow-btn{
    background-color: #f4b810 !important;
    color: black !important;
    /* border: none */
    padding-right: 25px !important;
    padding-left: 25px !important;
    border-color: #e8e8e8;
}
