<div class="wrapper">
  <div class="content-wrapper" style="min-height: 450px">
    <section class="content">
      <div class="row">
        <div class="col-md-12 animate-bottom" id="dataGrid" style="display: none">
          <div class="row">
            <div class="col-sm-4">
              <div class="well">
                <div class="row" id="innerrow">
                  <div class="col-sm-8" style="padding: 0">
                    <h1>{{dataDashboard.userTotalExternalRecovery}}</h1>
                    <h4>External Recovery</h4>
                  </div>
                  <div class="col-sm-4" style="text-align: right">
                    <span class="fa fa-users logo-dashboard"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <div class="row" id="innerrow">
                  <div class="col-sm-8" style="padding: 0">
                    <h1>{{dataDashboard.userTotalExternalRecoveryDevinitive}}</h1>
                    <h4>Data Devinitive</h4>
                  </div>
                  <div class="col-sm-4" style="text-align: right">
                    <span class="fa fa-id-badge logo-dashboard"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <div class="row" id="innerrow">
                  <div class="col-sm-8" style="padding: 0">
                    <h1>{{dataDashboard.userTotalExternalRecoveryShadow}}</h1>
                    <h4>Data Shadow</h4>
                  </div>
                  <div class="col-sm-4" style="text-align: right">
                    <span class="fa fa-user logo-dashboard"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="well" style="min-height: 350px; margin: 0;overflow: auto;">
                <table class="bottomBorder">
                  <tr>
                    <th *ngFor="let c of columnsTable" style="width: 1000px">
                      <span style="font-size: 11px">{{c.text}}</span>
                    </th>
                  </tr>
                  <tr *ngFor="let r of dataDashboard.InternalRecovery">
                    <td *ngFor="let c of columnsTable" [style.color]="r[c.field] == 'Active' ? '#3c763d' : (r[c.field] == 'Not Active' ? '#a94442' : 'black')">
                      <span style="font-size: 12px">{{r[c.field]}}</span>
                    </td>
                  </tr>
                </table>
                <div class="row" id="innerrow">
                  <div class="col-sm-2 pull-right" style="padding: 0; padding-top:20px">
                    <button type="button" class="btn btn-primary yellow-btn" routerLink="/pages/internal_recovery">
                      Show Listing
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well" style="min-height: 350px;margin: 0;overflow: auto;">
                <chart [type]="typeChart" [data]="dataChart" [options]="optionsChart" style="height: 300px"></chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" id="loadingGrid" style="display: none; text-align: center; margin-top: 40px">
          <div class="login-logo" style="margin-bottom: 30px">
            <img class="img-logo-1" src="assets/img/rats-logo-new.png">
          </div>
          <h2>Gathering data from server...</h2>
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>