<div class="form-horizontal">
    <div class="form-group" style="margin-bottom: 5px">
        <div class="col-md-6" style="margin:10px; margin-left: 0; margin-right: 0">
            <div class="popup">
                <span class="popuptext" id="myPopup">
                    <b>Alert: </b>Choose criteria here!
                </span>
                <div class="input-group input-group-md">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success dropdown-toggle white no-rad" data-toggle="dropdown"
                            aria-expanded="false" style="width: 120px">
                            <span style="color: #777">Filter</span>
                            <span class="fa fa-angle-down" style="margin-left: 10px; color: #777"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let crt of listCriteria" (click)="changeCriteria(crt)" style="cursor: pointer">
                                <a>{{crt.text}}</a>
                            </li>
                        </ul>
                    </div>
                    <input type="text" name="value" [(ngModel)]="value" class="no-radius form-control white"
                        placeholder="{{this.placeholderCriteria}}" (keyup.enter)="search()">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle-right white no-rad" style="width: 50px"
                            (click)="search()">
                            <span class="fa fa-search" style="color:#777"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="permission.upload" style="margin:10px; margin-left: 0;margin-right: 0; text-align: right">
            <button class=" btn btn-primary yellow-btn" (click)="downloadTemplate()">
                Download Template
            </button>
            <button class=" btn btn-primary yellow-btn" (click)="upload()">
                Upload Excel
                <i class="fa fa-angle-down" style="margin-left:5px"></i>
            </button>
        </div>
    </div>
</div>
<div style="overflow-x: scroll">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 20px" *ngIf="permission.view || permission.update || permission.delete"></th>
                <th *ngFor="let c of columns" (click)="sort(c.value)" style="min-width:50px">
                    {{c.text}}
                    <span style="float:right" *ngIf="c.value !== 'NoSort'">
                        <i class="fa" [class.fa-sort-amount-desc]="c.field == options.order.column && ascending"
                            [class.fa-sort-amount-asc]="c.field == options.order.column && !ascending" [class.fa-sort]="c.field != options.order.column"
                            [style.opacity]="options.order.column == c.field ? .7 : .3">
                        </i>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of data.rows">
                <td *ngIf="permission.view || permission.update || permission.delete">
                    <a href="javascript:" (click)="view(r)" *ngIf="permission.view" style="margin-right:5px">
                        <i class="fa fa-search"> </i>
                    </a>
                    <a href="javascript:" (click)="edit(r)" *ngIf="permission.update" style="margin-right:5px; color:green">
                        <i class="fa fa-edit"> </i>
                    </a>
                    <a href="javascript:" *ngIf="r.StatusUser == null && permission.delete && !r.noDelete" (click)="remove(r)"
                        style="margin-right:5px; color:#dd3535">
                        <i class="fa fa-trash"> </i>
                    </a>
                </td>
                <td *ngFor="let c of columns" [style.color]="r[c.field] == 'Active' ? '#3c763d' : (r[c.field] == 'Not Active' ? '#a94442' : 'black')">{{r[c.field]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" style="margin-top: 15px">
    <div class="col-md-4 pull-left" style="padding-left: 20px">
        <strong>Page Size </strong>
        <select name="pageSize" [(ngModel)]="options.pageSize" style="border: solid 1px #ccc; padding: 4px; border-radius: 3px; width: 50px; margin-right: 10px"
            (change)="changePageSize()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div class="col-md-8" style="text-align: right; padding-right: 15px">
        <button class="no-rad btn btn-default btn-sm" (click)="prev()" [disabled]="options.disPrev">
            <i class="fa fa-angle-left" style="margin-right:8px"></i>Prev
        </button>
        <button class="no-rad btn btn-default btn-sm" (click)="next()" [disabled]="options.disNext">
            Next
            <i class="fa fa-angle-right" style="margin-left:5px"></i>
        </button>
    </div>
</div>