<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-md">
        <form (ngSubmit)="save()" novalidate [formGroup]="areaRecoveryForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail Area Recovery
                    </span>
                    <span *ngIf="state === 1">
                        New Area Recovery
                    </span>
                    <span *ngIf="state === -1">
                        Edit Area Recovery
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4">Name</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': nameMessage, 'has-success': !nameMessage && areaRecoveryForm.get('area_recovery_name').dirty }">
                                    <input type="text" id="arearecoveryname" class="form-control" formControlName="area_recovery_name" placeholder="Name (required)">
                                    <span class="help-block" *ngIf="nameMessage">
                                        <small>
                                            {{nameMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state !== 0">
                                <label class="control-label col-md-4">Area</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': areaMessage, 'has-success': !areaMessage && areaRecoveryForm.get('area_name').dirty  }">
                                    <div class="input-group">
                                        <input type="text" class="form-control rad-input-group" formControlName="area_name" placeholder="Area (required)">
                                        <span class="input-group-addon">
                                            <a (click)="removeArea()" href="javascript:" class="fa fa-remove" style="color:#dd3535"></a>
                                        </span>
                                        <span class="input-group-addon rad-span-group">
                                            <a (click)="showArea()" href="javascript:" class="fa fa-search"></a>
                                        </span>
                                    </div>
                                    <span class="help-block" *ngIf="areaMessage">
                                        <small>
                                            {{areaMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state === 0">
                                <label class="control-label col-md-4">Area</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" formControlName="area_name">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state == -1">
                                <label class="control-label col-md-4">Status</label>
                                <div class="col-md-5">
                                    <label class="radio-inline">
                                        <input type="radio" value="active" formControlName="is_active">Active
                                    </label>
                                    <label class="radio-inline" style="margin-left: 40px">
                                        <input type="radio" value="notactive" formControlName="is_active">Not Active
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state == 0">
                                <label class="control-label col-md-4">Status</label>
                                <label class="control-label col-md-5" *ngIf="areaRecovery.is_active">
                                    <span class="label pull-left label-success">Active</span>
                                </label>
                                <label class="control-label col-md-5" *ngIf="!areaRecovery.is_active">
                                    <span class="label pull-left label-error">Not Active</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state !== 0" [disabled]="areaRecoveryForm.invalid" class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="lookup-area">
    <lookup-area [areaRecovery]="areaRecovery" [select]="selectAreaCallback"></lookup-area>
</div>
