<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-md">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>
                    Detail External Recovery
                </span>
            </div>
            <div class="panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">MOU Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{hirarkiExternalRecoveryContent.name}}" placeholder="NIK" [disabled]="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Category</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{hirarkiExternalRecoveryContent.category}}" placeholder="Name" [disabled]="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">PIC Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{hirarkiExternalRecoveryContent.pic_name}}" placeholder="Email" [disabled]="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">PIC Handphone</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{hirarkiExternalRecoveryContent.pic_handphone}}" placeholder="Handphone"
                                    [disabled]="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Start Date</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{hirarkiExternalRecoveryContent.start_date}}" placeholder="Position"
                                    [disabled]="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">End Date</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{hirarkiExternalRecoveryContent.end_date}}" placeholder="Position"
                                    [disabled]="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="text-align: right">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                </div>
            </div>
        </div>
    </div>
</div>