<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>
                    Detail Assignment
                </span>
            </div>
            <div class="panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Mitra Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.mitra_name}}"
                                    placeholder="Mitra Name" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Mitra KTP</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.mitra_ktp}}"
                                    placeholder="Mitra KTP" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Mitra Handphone</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.mitra_handphone}}"
                                    placeholder="Mitra Handphone" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Unit Branch</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.unit_branch_name}}"
                                    placeholder="Unit Branch" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Unit Area</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.unit_area_name}}"
                                    placeholder="Unit Area" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">No SK</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.no_sk}}"
                                    placeholder="No SK" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">No Contract</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.no_kontrak}}"
                                    placeholder="No Contract" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Assignment Status</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.assignment_status}}"
                                    placeholder="Assignment Status" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Warehouse Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.warehouse_name}}"
                                    placeholder="Warehouse Name" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Warehouse Type</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.warehouse_type}}"
                                    placeholder="Warehouse Type" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Warehouse PIC Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.warehouse_pic_name}}"
                                    placeholder="Warehouse PIC Name" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Warehouse PIC NIK</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.warehouse_pic_nik}}"
                                    placeholder="Warehouse PIC NIK" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Format Address</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.format_address}}"
                                    placeholder="Format Address" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Coordinator Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.koordinator_name}}"
                                    placeholder="Coordinator Name" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Coordinator NIK</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.koordinator_nik}}"
                                    placeholder="Coordinator NIK" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Assigned Date</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.assigned_date}}"
                                    placeholder="Assigned Date" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Serah Terima Date</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.serah_terima_date}}"
                                    placeholder="Serah Terima Date" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Completed Date</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{correctionAssignment.completed_date}}"
                                    placeholder="Completed Date" [disabled]="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <form (ngSubmit)="save()" novalidate [formGroup]="correctionAssignmentForm">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4" style="color:#dd3535">Cancellation Reason</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': reasonMessage, 'has-success': !reasonMessage && correctionAssignmentForm.get('reason').dirty }">
                                    <input type="text" class="form-control" formControlName="reason" placeholder="Cancellation Reason (required)">
                                    <span class="help-block" *ngIf="reasonMessage">
                                        <small>
                                            {{reasonMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer" style="text-align: right">
                    <button id="saveBtn" type="submit" [disabled]="correctionAssignmentForm.invalid" class="btn btn-danger"
                        (click)="save()">
                        <span style="float:left;margin-right: 5px">
                            <i class="fa fa-ban"></i>
                        </span>
                        Cancel Assignment
                    </button>
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                </div>
            </div>
        </div>

    </div>
</div>