<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-lg">
        <form (ngSubmit)="save()" novalidate [formGroup]="notificationContentForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail Notification Content
                    </span>
                    <span *ngIf="state === 1">
                        New Notification Content
                    </span>
                    <span *ngIf="state === -1">
                        Edit Notification Content
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4">Name</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': nameMessage, 'has-success': !nameMessage && notificationContentForm.get('name').dirty }">
                                    <input type="text" id="contentname" class="form-control" formControlName="name"
                                        placeholder="Name (required)">
                                    <span class="help-block" *ngIf="nameMessage">
                                        <small>
                                            {{nameMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Description</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': descriptionMessage, 'has-success': !descriptionMessage && notificationContentForm.get('description').dirty }">
                                    <input type="text" class="form-control" formControlName="description" placeholder="Description (required)">
                                    <span class="help-block" *ngIf="descriptionMessage">
                                        <small>
                                            {{descriptionMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state !== 1">
                                <div class="panel-body">
                                    <gridSelect-view [listCriteria]="listCriteria" [columns]="columns" [data]="data"
                                        [display]="getDetailCallback" [view]="viewCallback" [edit]="editCallback"
                                        [remove]="deleteCallback" [options]="option" [permission]="permission" [state]="state"
                                        [dataSelected]="dataSelected"></gridSelect-view>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state !== 0" [disabled]="notificationContentForm.invalid" class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<notificationContent-contentDetail [id]="'modal-contentDetail'" [dataContent]="dataContent"></notificationContent-contentDetail>