<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-lg">
        <form (ngSubmit)="save()" novalidate [formGroup]="notificationForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail Notification
                    </span>
                    <span *ngIf="state === 1">
                        New Notification
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4">Subject</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': subjectMessage, 'has-success': !subjectMessage && notificationForm.get('subject').dirty }">
                                    <input type="text" id="subject" class="form-control" formControlName="subject"
                                        placeholder="Subject (required)">
                                    <span class="help-block" *ngIf="subjectMessage">
                                        <small>
                                            {{subjectMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Message</label>
                                <div class="col-md-5" [ngClass]="{ 'has-error': notificationMessage, 'has-success': !notificationMessage && notificationForm.get('notification_message').dirty }">
                                    <textarea class="form-control" formControlName="notification_message" placeholder="Message (required)"
                                        rows="8"></textarea>
                                    <span class="help-block" *ngIf="notificationMessage">
                                        <small>
                                            {{notificationMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state === 1">
                                <label class="control-label col-md-4">User Type</label>
                                <div class="col-md-6">
                                    <label class="radio-inline">
                                        <input type="radio" value="mitra" formControlName="recipient_type">Mitra
                                    </label>
                                    <label class="radio-inline" style="margin-left: 40px">
                                        <input type="radio" value="coordinator" formControlName="recipient_type">Coordinator
                                    </label>
                                    <label class="radio-inline" style="margin-left: 40px">
                                        <input type="radio" value="pic_warehouse" formControlName="recipient_type">PIC
                                        Warehouse
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" style="text-align: right" *ngIf="state === 1">
                                <button type="button" [disabled]="notificationForm.get('recipient_type').value == '' || notificationForm.get('recipient_type').value == null "
                                    class="btn btn-primary no-radius" style="margin-right: 50px" (click)="search()">
                                    <span style="float:left;margin-right: 7px">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    Search User
                                </button>
                            </div>
                            <div class="form-group" *ngIf="state === 1">
                                <div class="panel-body">
                                    <gridSelect-view [listCriteria]="listCriteria" [columns]="columns" [data]="data"
                                        [display]="getUserCallback" [options]="option" [permission]="permission"
                                        [state]="state" [dataSelected]="dataSelected"></gridSelect-view>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state !== 0" [disabled]="notificationForm.invalid || dataSelected.rows.length === 0"
                            class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <paramHirarkiWarehouse-contentDetail [id]="'modal-contentDetail'" [paramHirarkiWarehouseContent]="paramHirarkiWarehouseContent"></paramHirarkiWarehouse-contentDetail> -->