@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) { 
    /* overflow-y: visible !important;  */
    padding-right: 0px !important;
}
body{
    font-family: 'Roboto Condensed', sans-serif !important;
    padding-right: 0px !important;
}

div.sansserif{
    font-family: 'Roboto Condensed', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Roboto Condensed', sans-serif !important;
}

.img-circle {
    border-color: #f4b810 !important;
}

.img-logo-1{
    width: 155px;
    height: auto;
}

/* .img-logo-2{
    width: 75px;
    height: auto;
    margin-left: -75px
} */

.login-logo{
    font-size: 20px !important
}

/* .dropdown-menu {
    border-color: #00CC15 !important;
} */

.user-header{
    background: #000000 !important;
}
  
.user-footer{
    background: #424242 !important;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.navbar-static-top {
    background: #f4b810 !important;
}
  
.logo {
    background: #f4b810 !important;
}

.sidebar-toggle {
    background: #f4b810 !important;
}

.sidebar-toggle:hover {
    background: #e8ab02 !important;
}

.pac-container {
    z-index: 1100;
}

.swal2-popup {
    font-size: 14px !important;
}

.swal2-popup.swal2-toast{
    font-size: 19px !important;
}

.base-color{
    color: #f4b810;
}

.black-color{
    color: #000000;
}

.skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side{
    background-color: black !important;
}

.skin-green .sidebar-menu>li:hover>a, .skin-green .sidebar-menu>li.active>a{
    background: #14191c !important;
    border-left-color: #f4b810 !important;
}

.skin-green .sidebar-menu>li.header{
    background: #111214 !important;
}

.skin-green .sidebar-menu>li>.treeview-menu{
    background: #1F2427 !important;
}

.nav-tabs-custom>.nav-tabs>li.active{
    border-top-color: #f4b810 !important;
}

.panel-primary > .panel-heading {
    background-color: #232528 !important;
}

.panel-primary{
    border-color: #232528 !important;
    border: 0 !important;
}

.form-control{
    border-radius: 5px !important;
}

.help-block{
    margin-bottom: 0px !important;
}

.has-success .form-control{
    box-shadow: 0 0 6px #3c763d !important;
}

.has-error .form-control{
    box-shadow: 0 0 6px #a94442 !important;
}

.no-radius{
    border-radius: 0px !important;
}

.mg-r-l-50{
    margin-right: 50px !important;
    margin-left: 50px !important;
}

.mg-b-5{
    margin-bottom: 5px !important;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }

}
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.5s;
    animation-name: animatebottom;
    animation-duration: 0.5s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

.float-button{
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1565c0 !important;
    border: none;
    box-shadow: 0 0 12px #1565c0 !important;
}

.float-version{
    z-index: 1000;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: rgb(163, 163, 163);
}

.content-wrapper, .right-side{
    background-color: ghostwhite !important;
}

.btn{
    border-radius: 30px !important;
}

/* 
.btn:focus{
    border-colo: none !important;
} */

.dropdown-toggle{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
  
.dropdown-toggle-right{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.dropdown-custom{
    left: 13px !important;
    top: 33px !important;
    box-shadow: 0 0 5px !important;
}

.btn:focus {
    outline:0 !important;
}

.refresh-grid{
    margin-left: 5px !important;
    font-size: 20px !important;
    cursor: pointer;
}

.success-label{
    color: #3c763d !important;
    text-align: left !important;
    margin-left: 10px !important;
}

.error-label{
    color: #A94341 !important;
    text-align: left !important;
    margin-left: 10px !important;
}

.label-success{
    margin-left: 10px !important;
    border-radius: 7px !important;
    padding: 5px !important;
    font-size: 12px !important;
    background-color: #3c763d !important;
}

.label-error{
    margin-left: 10px !important;
    border-radius: 7px !important;
    padding: 5px !important;
    font-size: 12px !important;
    background-color: #A94341;
}

.no-rad{
    border-radius: 3px !important;
}

.rad-input-group{
    border-radius: 5px 0px 0px 5px !important;
}

.rad-span-group{
    border-radius: 0px 5px 5px 0px !important;
}

.img-content {
    width: 150px;
    height: auto;
}