<div class="form-horizontal">
    <div class="form-group" style="margin-bottom: 5px">
        <div *ngFor="let crt of listCriteria" class="col-md-6" style="margin:10px; margin-left: 0; margin-right: 0">
            <label class="control-label col-md-4">{{crt.text}}</label>
            <div class="col-md-7">
                <input type="{{crt.type}}" name="{{crt.value}}" [(ngModel)]="crt.filter"
                    class="no-radius form-control white" placeholder="{{crt.text}}" (keyup.enter)="search()">
            </div>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 5px">
        <div class="col-md-12" style="margin:10px; margin-left: 0;margin-right: 0; text-align: right">
            <button class=" btn btn-primary yellow-btn" (click)="search()">
                Search
            </button>
            <button class=" btn btn-primary yellow-btn" (click)="download()" *ngIf="!data.noReport">
                Download Report
            </button>
            <button class=" btn btn-primary yellow-btn" (click)="downloadFullReport()" *ngIf="!data.noReport">
                Download Full Report
            </button>
        </div>
    </div>
</div>
<div style="overflow-x: scroll">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th *ngFor="let c of columns" (click)="sort(c.value)" style="min-width:200px">
                    {{c.text}}
                    <span style="float:right">
                        <i class="fa" [class.fa-sort-amount-desc]="c.field == options.order.column && ascending"
                            [class.fa-sort-amount-asc]="c.field == options.order.column && !ascending"
                            [class.fa-sort]="c.field != options.order.column"
                            [style.opacity]="options.order.column == c.field ? .7 : .3">
                        </i>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of data.rows">
                <td *ngFor="let c of columns"
                    [style.color]="r[c.field] == 'Active' ? '#3c763d' : (r[c.field] == 'Not Active' ? '#a94442' : 'black')">
                    {{r[c.field]}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" style="margin-top: 15px">
    <div class="col-md-4 pull-left" style="padding-left: 20px">
        <strong>Page Size </strong>
        <select name="pageSize" id="pageSize" [(ngModel)]="options.pageSize"
            style="border: solid 1px #ccc; padding: 4px; border-radius: 3px; width: 50px; margin-right: 10px"
            (change)="changePageSize()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div class="col-md-8" style="text-align: right; padding-right: 15px">
        <button class="no-rad btn btn-default btn-sm" (click)="prev()" [disabled]="options.disPrev">
            <i class="fa fa-angle-left" style="margin-right:8px"></i>Prev
        </button>
        <button class="no-rad btn btn-default btn-sm" (click)="next()" [disabled]="options.disNext">
            Next
            <i class="fa fa-angle-right" style="margin-left:5px"></i>
        </button>
    </div>
</div>