<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-md">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>
                    Detail Branch
                </span>
            </div>
            <div class="panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">ID</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{paramAreaRecoveryContent.id}}" placeholder="NIK" [disabled]="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" value="{{paramAreaRecoveryContent.name}}" placeholder="Name" [disabled]="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="text-align: right">
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                </div>
            </div>
        </div>
    </div>
</div>